<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanzeel.Rubricon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".TeacherSignUp" />
        <activity android:name=".StudentSignUp" />
        <activity android:name=".AdminSignUp" />
        <activity android:name=".CourseCreation" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".Courses" />
        <activity android:name=".CourseModification" />
        <activity android:name=".Clo" />
        <activity android:name=".CourseUpdate" />
        <activity android:name=".AllocateCourses" />
        <activity android:name=".StudentCourses" />
        <activity android:name=".CloCreation" />
        <activity android:name=".StudentPanel" />
        <activity android:name=".StudentCourseList" />
        <activity android:name=".TeacherCourseList"></activity>
    </application>

</manifest>